.sidebar {
  width: 300px;
  min-width: 300px;
  background: var(--primary-color);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: white;
}

.sidebar-content {
  position: fixed;
  width: inherit;
}

.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .links {
  margin-top: 80px;
  margin-left: 20px;
}

.sidebar .links li {
  margin-top: 10px;
}

.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: white;
  box-sizing: border-box;
  border-radius: 20px 0 0 20px;
  transition: background 0.3s ease-in;
}

.sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
}

.sidebar .links a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}

.sidebar .links a.active img {
  filter: invert(40%);
}

@media screen and (max-width: 1000px) {
  .sidebar {
    position: static;
    min-height: 200px;
    min-width: 100vw;
    display: flex;
    align-items: center;
  }

  .sidebar .user {
      border: none;
      padding: 0;
  }

  .sidebar-content {
      position: static;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
  }

  .sidebar .links {
      margin: 0;
  }

  .sidebar .links a {
      margin: 0;
      border-radius: 20px;
  }

  .sidebar .links a.active {
      color: #555;
      background: var(--bg-color);
      border-radius: 20px;
   }
}