.project-comments label {
  margin-bottom: 0px;
}

.project-comments textarea {
  min-height: 40px;
  font-size: 1.5em;
}

.project-comments h4 {
  color: var(--heading-color);
  margin-top: 40px;
  font-size: 25px;
}

.project-comments li {
  padding: 16px;
  border-radius:  0px 20px 20px 20px;
  margin-top: 20px;
  background: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.comment-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comment-author {
  display: flex;
  font-size: 20px;
  align-items: center;
  color: var(--heading-color);
}

.comment-author .avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.comment-date {
  color: var(--text-color);
  font-size: 0.9em;
  margin: 4px 0 10px;
}

.comment-content {
  color: white;
  background-color: var(--primary-color);
  padding: 20px 10px;
  font-size: 0.9em;
  border-radius: 10px;
}

.add-comment{
  margin-bottom: 30px;
}

.add-comment textarea{
  margin-bottom: 20px;
}

@media screen and (max-width: 1500px) {
  .project-details {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .comments {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .project-comments li {
    width: max-content;
  }

  .comment-top {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f2f2f2;
  }

  .comment-date {
    margin: 0;
  }

  .comment-content {
    margin-top: 1rem;
  }

  .project-comments textarea {
    min-height: 100px;
    width: 80%;
  }
}
